$dark: #000;
$white: #FFF;
$salat: #EAFEEC;
$lighterSalat: #F1FFF8;
$gray: rgba(241, 243, 242, 1);
$midleDarkgray: #404040;
$lightdarkGray: #888282;
$darkerBlue:#212D32;
$darkerBluePlus:#20414D;
$darkBlue: #32505B;
$darkBluePlus: #376474;
$red: #F62A2A;
$lighterRed: #F0E9E9;
$cian: #38CEA8;


$siren: #6377dd92 ;

$Roboto: 'Roboto', sans-serif;